<h2>Query Form</h2>
<form>
  {{queryFormCtrl.form}}
  <!-- Begin: Textbox Parameters. -->
  <div class="row">
    <div class="col-sm-4">
      <h3>Name</h3>
      <input type="text" ng-model="queryFormCtrl.form.name" />
    </div>
    <div class="col-sm-4">
      <h3>Subtype</h3>
      <input type="text" ng-model="queryFormCtrl.form.subtype" />
    </div>
    <div class="col-sm-4">
      <h3>Set</h3>
      <input type="text" ng-model="queryFormCtrl.form.set" />
    </div>
  </div>
  <!-- End: Textbox Parameters. -->

    <!-- Begin: Checkbox Parameters. -->
    <div class="row">
      <div class="col-sm-2">
        <h3>Color</h3>
        <div ng-repeat="colorIndex in queryFormCtrl.colorIndex">
          <input type="checkbox" ng-model="queryFormCtrl.form.colors[colorIndex]" />{{queryFormCtrl.colors[colorIndex]}}
        </div>
      </div>
      <div class="col-sm-2">
        <h3>Rarity</h3>
        <div ng-repeat="rarityIndex in queryFormCtrl.rarityIndex">
          <input type="checkbox" ng-model="queryFormCtrl.form.rarities[rarityIndex]" />{{queryFormCtrl.rarities[rarityIndex]}}
        </div>
      </div>
      <div class="col-sm-2">
        <h3>Type</h3>
        <div ng-repeat="typeIndex in queryFormCtrl.typeIndex">
          <input type="checkbox" ng-model="queryFormCtrl.form.types[typeIndex]" />{{queryFormCtrl.types[typeIndex]}}
        </div>
      </div>
      <div class="col-sm-2">
        <h3>Supertype</h3>
        <div ng-repeat="supertypeIndex in queryFormCtrl.supertypeIndex">
          <input type="checkbox" ng-model="queryFormCtrl.form.supertypes[supertypeIndex]" />{{queryFormCtrl.supertypes[supertypeIndex]}}
        </div>
      </div>
      <div class="col-sm-2">
        <h3>Format</h3>
        <div ng-repeat="formatIndex in queryFormCtrl.formatIndex">
          <input type="Checkbox" ng-model="queryFormCtrl.form.formats[formatIndex]" />{{queryFormCtrl.formats[formatIndex]}}
        </div>
      </div>
      <div class="col-sm-2">
        <h3>Status</h3>
        <div ng-repeat="statusIndex in queryFormCtrl.statusIndex">
          <input type="Checkbox" ng-model="queryFormCtrl.form.statuses[statusIndex]" />{{queryFormCtrl.statuses[statusIndex]}}
        </div>
      </div>
    </div>
  <br />
  <!-- End: Checkbox Parameters. -->
</form>
